@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased bg-zinc-950 text-white;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }

  select option {
    background-color: #171717;
    color: #ef4444;
  }
}